.container {
    display: flex;
}
.grid {
    width: 200px;
    height: 400px;
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 400px;
}
.grid div {
    height: 20px;
    width: 20px;
}
.tetro {
    background-color: royalblue;
}
.grid-grid {
    margin: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellowgreen;
}
.grid-grid div {
    height: 20px;
    width: 20px;
}